html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}
.container {
  width: 100%;
  display: flex; /* or inline-flex */
  /*flex-direction: row;   or row-reverse | column | column-reverse */
  flex-wrap: wrap; /*or nowrap | wrap-reverse;*/
  height: 100%;
  /*margin: 2.5%;*/
}
.item {
    height: calc(100% / 3);
    width: 25%;
    text-align: center;
}

/* color palette*
red :    #CC1C00;
light:   #97DDE7;
light2:  #64C5D2;
medium:  #2297A7;
dark:    #057F90;
*/

.one {
    background: #CC1C00;
}
.two {
    background: #057F90;
}
.three {
    background: #2297A7;
}
.four {
    background: #64C5D2;
}
.five {
    background: #057F90;
}
.six {
    background: #2297A7;
}
.seven {
    background: #64C5D2;
}
.eight {
    background: #97DDE7;
}
.nine {
    background: #2297A7;
}
.ten {
    background: #64C5D2;
}
.eleven {
    background: #97DDE7;
}
.twelve {
    background: #CC1C00;
}

h1, p, li {
    color: white;
}

p, li {
    font-family: 'Forum', serif;
    font-size: 2em;
}

ul {
    position: relative;
    top: 40px;
}
li {
    list-style: none;
    text-align: right;
    padding-right: 35px;
}
h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 3em;
    position: relative;
    top: 48px;
}
#resume, #yarn, #states, #game, #graph {
    max-width: 300px;
    position: relative;
    top: calc(50% - 90px);
}
#lady {
    position: relative;
    top: calc(50% - 85px);
}
#me {
    position: relative;
    top: calc(50% - 70px);
}